dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9e468ef3-6b32-4331-bcf4-56116a6d02e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="7e1db103-612d-4a8b-9b98-fe02558a397b" >
		<http:listener doc:name="Listener" doc:id="7be38a6e-be64-4dd0-b5f0-67e84606ffa6" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value="Hello World" doc:name="Set Payload" doc:id="8d43e5f6-eed9-46a9-a3bf-d21cc9ca3e1e" />
		<logger level="INFO" doc:name="Logger" doc:id="d89417bc-d5a6-4eb9-8bee-2568dfe323aa" message="#[payload]"/>
	</flow>
</mule>
